robotframework~=7.0.0
robotframework-c8y @ git+https://github.com/reubenmiller/robotframework-c8y.git@0.42.4
robotframework-devicelibrary[docker] @ git+https://github.com/reubenmiller/robotframework-devicelibrary.git@1.18.0
robotframework-tidy~=4.14.0
robotframework-robocop~=5.5.0
robotframework-retryfailed~=0.2.0
